<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.megaphone.cordova.GalleryPlugin" version="0.0.5" xmlns="http://www.phonegap.com/ns/plugins/1.0" >
    <name>GalleryPlugin</name>
    <author>James Hunter</author>

    <engines>
      <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="GalleryPlugin" src="www/GalleryPlugin.js">
        <clobbers target="cordova.plugins.GalleryPlugin" />
    </js-module>

    <platform name="ios">
      <hook type="after_plugin_install" src="hooks/add_swift_support.js" />

      <header-file src="src/ios/cordova-plugin-GalleryPlugin-Bridging-Header.h" />
      <source-file src="src/ios/GalleryPlugin.swift" />
      <source-file src="src/ios/GalleryViewController.swift" />
      <source-file src="src/ios/GalleryCell.swift" />
      <source-file src="src/ios/MPImage.swift" />
      <resource-file src="src/ios/GalleryStoryboard.storyboard" />

      <config-file target="config.xml" parent="/*">
        <feature name="GalleryPlugin">
          <param name="ios-package" value="GalleryPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
    </platform>

    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="GalleryPlugin">
          <param name="android-package" value="com.megaphone.cordova.gallery.GalleryPlugin"/>
        </feature>
      </config-file>

       <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity
            android:name="com.megaphone.cordova.gallery.GalleryActivity"
            android:label="Gallery" android:theme="@style/EventBrowserTheme">
        </activity>
      </config-file>

      <source-file src="src/android/GalleryActivity.java" target-dir="src/com/megaphone/cordova/gallery"/>
      <source-file src="src/android/FakeR.java" target-dir="src/com/megaphone/cordova/gallery"/>
      <source-file src="src/android/GalleryPlugin.java" target-dir="src/com/megaphone/cordova/gallery"/>
      <source-file src="src/android/adapters/GalleryImageAdapter.java" target-dir="src/com/megaphone/cordova/gallery/adapters"/>
      <source-file src="src/android/controls/TouchImageView.java" target-dir="src/com/megaphone/cordova/gallery/controls"/>

      <resource-file src="src/android/res/activity_gallery.xml" target="res/layout/activity_gallery.xml" />
      <resource-file src="src/android/res/image_layout.xml" target="res/layout/image_layout.xml" />
      <resource-file src="src/android/res/menu_gallery.xml" target="res/menu/menu_gallery.xml" />

      <framework src="com.squareup.picasso:picasso:2.5.2"/>
    </platform>
</plugin>
